@media (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .site-title {
        display: block;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
        justify-content: flex-end;
    }

    .navigation a {
        display: block;
        padding: 1rem;
    }

    #destination-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* @media (min-width: 1024px) {

    #destination-cards {
        grid-template-columns: repeat(3, 1fr);
    }
} */