/* Wider view */
@media (min-width: 880px) {

    body {
        max-width: 880px;
        margin: 0 auto;
    }

    .hero {
        position: relative;
    }

    .hero picture::after {
        display: none;
    }

    .hero img {
        object-fit: cover;
    }

    .data {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        width: 260px;
    }

    .weather {
        bottom: 1.5rem;
        position: absolute;
        width: 260px;
        right: 1.5rem;
    }

    .data h2,
    .weather h2 {
        background-color: var(--accent4-color);
    }

    .weather img {
        display: none;
    }

    .weather h2::after {
        content: " ⛅";
    }
}